body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

main {
    padding: 15px;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

.navbar {
    background-color: #F1F1F1;
    width: 100%;
    padding: 12px;
    border-bottom: solid 1px black;
}

.nav-container {
    padding: 5px;
}

.options-controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    width: 200px;
  }
  
.options-controls img {
    width: 24px; /* Taille de l'icône */
    height: 24px;
    margin-right: 10px; /* Espace entre l'image et le texte */
  }
  
.options-controls span {
    font-size: 16px; /* Taille du texte */
    color: #333; /* Couleur du texte */
    font-weight: bold;
}

.container {
    margin-top: 20px;
}

.item-container {
    width: 500px;
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(138, 148, 148);
    border-radius: 10px;
    display: flex;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device-controls h1 {
    font-weight: bold;
}

.options-controls {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;   
}

.components-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.component-card {
    background-color: #F1F1F1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    border-left: 5px solid red;
    width: 700px;
}

.component-card:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.ram-content, .disk-content, .gpu-content {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border: solid 1px rgb(122, 122, 122);
    border-radius: 5px;
}

#battery-card {
    display: none;
}