body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: red;
    width: 100%;
}

.nav-container {
    padding: 5px;
}

.item-container {
    width: 500px;
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(138, 148, 148);
    border-radius: 10px;
    display: flex;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device-controls h1 {
    font-weight: bold;
}

.options-controls {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;   
}

.windows-10-setup {
    width: 200px;
    height: 50px;
    background-color: #0078D6;
    border: none;
    border-radius: 5px;
}
.windows-10-setup:hover {
    background-color: #2272af;
}

.windows-11-setup {
    width: 200px;
    height: 50px;
    background-color: #4EB2FF;
    border: none;
    border-radius: 5px;
}
.windows-11-setup:hover {
    background-color: rgb(67, 130, 179);
}

.drivers-setup {
    width: 200px;
    height: 50px;
    background-color: #664EFF;
    border: none;
    border-radius: 5px;
}

.components-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.component-card {
    background-color: #F1F1F1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    border-left: 5px solid red;
    width: 890px;
}

.component-card:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.ram-content, .disk-content, .gpu-content {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border: solid 1px rgb(122, 122, 122);
    border-radius: 5px;
}

#battery-card {
    display: none;
}